<td>
    {{ event.number }}
</td>
<td>
    <a [routerLink]="'/event/' + event.number">
        @if (event && event.style) {
            {{ event.relay_distance ? event.relay_distance : event.distance }}m {{ 'COMMON.STYLE.' + event.style.name + '.NAME' | translate }} {{ event.name_extension }} {{ 'COMMON.GENDER.' + event.gender + '.NAME' | translate }}
        }
    </a>
</td>
<td>
    {{ event.name_extension }}
</td>
@if (heatInfo) {
    <td>
        {{heatInfo.amount}}
    </td>
    <td>
        {{heatInfo.first_heat.getEstimatedStartTime()}}
    </td>
    <td class="live-{{getLiveTimeClass()}}">
        {{heatInfo.first_heat.getStartDelayEstimationTime()}}
    </td>
} @else {
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
}

<td>
    <button (click)="editEventTime()">Zeit ändern</button>
    <button (click)="deleteEvent()">Löschen</button>
</td>
