:host {
    padding: 10px 18px;
    display: grid;
    grid-template-columns: 230px 1fr 200px 40px;
    border-bottom: 1px solid black;
    grid-gap: 10px;
}

.header-title {
    font-size: 22px;
    font-weight: normal;
    margin: 8px 0;
    color: var(--color-text-prominent);
    text-align: left;
}


.header-user-info {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: -6px;
    margin-left: 8px;
    text-align: right;

    span, b {
        display: block;
    }
}

.no-login {
    background-color: red;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.meeting-select {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    margin-top: -14px;
    max-width: 600px;
    justify-self: start;
    width: 100%;

    mat-select {
        text-align: left;
    }
}

app-icon-button {
    vertical-align: middle;
    margin: 0 8px;
}
