:host {
    td {

        button {
            padding: 6px 12px;
            margin-right: 6px;
            font-size: 12px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
