
<div class="app">
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <main>
    <as-split direction="vertical" unit="percent">
      <as-split-area [size]="70">
        <as-split direction="horizontal" unit="percent">
          <as-split-area [size]="70">
            <router-outlet></router-outlet>
          </as-split-area>
          <as-split-area [size]="30">
            <sr-import-stream-view></sr-import-stream-view>
          </as-split-area>
        </as-split>
      </as-split-area>
      <as-split-area [size]="30">
        <h1>Livetiming</h1>
          <sr-live-timing-view></sr-live-timing-view>
      </as-split-area>
    </as-split>
  </main>

  <app-status-bar></app-status-bar>
</div>
