.app {
    display: grid;
    width: 100%;
    height: 100vh;
    position: relative;
    grid-template-areas:
    "header header"
    "sidebar main"
    "status status";
    grid-template-columns: 42px 1fr;
    grid-template-rows: 52px auto 36px;
    grid-gap: 2px;

    app-header {
        grid-area: header;
        background: linear-gradient(to bottom right, var(--bg-gradient-1) 0%, var(--bg-gradient-2) 100%) fixed;
    }

    app-sidebar {
        grid-area: sidebar;
        background-color: var(--color-bg-second);
    }

    main {
        grid-area: main;
        height: 100%;
        overflow: auto;
    }

    app-status-bar {
        grid-area: status;
        background-color: var(--color-bg-second);
    }

    .live-table {
        background-color: white
    }

    &.display-mode {
        display: block;
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;

        main {
            width: 100%;
            height: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            display: flex;
        }
    }
}
