<div>
    @if (fileName) {
        <span class="status-box">{{ fileName }}</span><br>
    }

    @if (fileMeta) {
        <span class="status-box">Geändert: {{ fileMeta.lastModified }}</span><br>
        <span class="status-box">Größe: {{ fileMeta.size }}</span><br>
    }

    <ul>
        @for (log of changeLog; track log) {
            <li>{{ log }}</li>
        }
    </ul>
</div>

<button (click)="selectFile()">Datei auswählen</button>

<p>
    <mat-slide-toggle (click)="toggleAutoImport()" [checked]="autoImportActive">
        Automatischer Import
    </mat-slide-toggle>
</p>
