<ul>
    <li><app-icon-button icon="live_tv" btnRouterLink="/old"></app-icon-button></li>
    <ng-container *srActiveViewMode="['advanced', 'expert']">
        <hr>
        <li><app-icon-button icon="flag" btnRouterLink="/schedule"></app-icon-button></li>
    </ng-container>

    <ng-container *srActiveViewMode="['expert']">
        <hr>
        <li><app-icon-button icon="cloud_upload" btnRouterLink="/import"></app-icon-button></li>
    </ng-container>
<!--  <li><app-icon-button icon="settings"></app-icon-button></li>-->
  <!--li><app-icon-button icon="person"></app-icon-button></li-->
  <!--li><app-icon-button icon="upload"></app-icon-button></li>
  <li><app-icon-button icon="file_map"></app-icon-button></li-->
</ul>
