<button class="refresh-btn" (click)="fetchEvents()">
    <mat-icon>refresh</mat-icon>
</button>

<!--sr-panel panelTitle="Datei-Import"-->
<sr-group-box boxTitle="Datei-Import">
    <div class="file-input-section">
        <input [(ngModel)]="importUrl" type="text" class="file-import-url" placeholder="https://file..." [disabled]="selectedFile !== null" (ngModelChange)="onUrlChange()">
        <span style="margin: 0 10px;">oder</span>
        <input type="file" #fileInput (change)="onFileSelect($event)" style="display: none">
        <button (click)="fileInput.click()">
            <mat-icon>upload_file</mat-icon>
            Datei wählen
        </button>
        @if (selectedFile) {
            <span class="selected-file-name">{{ selectedFile.name }}</span>
            <button (click)="clearFile()">
                <mat-icon>close</mat-icon>
            </button>
        }
    </div>

    <div class="file-import">
        <mat-radio-group aria-label="Dateityp" [(ngModel)]="importFileType">
            @for (entry of fileTypeList; track entry) {
                <mat-radio-button
                    (change)="onFileTypeChange(entry.value)"
                    [value]="entry.value"
                >
                    {{ entry.name }}
                </mat-radio-button>
            }
        </mat-radio-group>

        @if (currentFileType === 'lef') {
            <mat-radio-group>
                @for (feature of importFeatures.keys(); track feature) {
                    <mat-checkbox [checked]="importFeatures.get(feature)" (change)="featureChanged(feature, $event)">
                        {{ feature }}
                    </mat-checkbox>
                    <br>
                }
            </mat-radio-group>
        } @else {
            <mat-radio-group aria-label="Listentyp" [(ngModel)]="importListType">
                @if (currentFileType === 'dsv') {
                    <mat-radio-button value="definition">Definitionsliste</mat-radio-button>
                }
                @if (currentFileType !== 'dsv' && currentFileType !== '') {
                    <mat-radio-button value="start_list">Startliste</mat-radio-button>
                }
                @if (currentFileType !== '') {
                    <mat-radio-button value="result_list">Ergebnis</mat-radio-button>
                }
            </mat-radio-group>
        }

        <div class="import-button-box">
            <sr-btn [loading]="runningImport" (btnClick)="onImport()">
                <mat-icon>cloud_upload</mat-icon>
                Import
            </sr-btn>
            <input type="text" class="file-import-events" [(ngModel)]="importExclude" placeholder="exclude">
            <input type="text" class="file-import-events" [(ngModel)]="importInclude" placeholder="include">
        </div>
    </div>

    <p><i>
        Zur korrekten Anzeige des Import-Fortschritts muss der Stream am rechten Bildschirmrand beendet werden, bevor ein neuer Import gestartet wird.
    </i></p>

</sr-group-box>

<sr-group-box boxTitle="Protokolldienst">
    <div class="file-list">
        @for (file of files; track file) {
            <div class="file-list-tile"
            >
        <span
            class="file-name {{file.event.number === currentFile?.event?.number ? 'file-selected' : ''}} {{file.exists ? 'file-exists' : 'file-exists-not'}} {{file.event.certified ? 'file-public' : 'file-not-public'}}"
            (click)="onSelectFile(file)">
          <span>{{ 'EVENT.PAGE.EVENT_TITLE_EVENT' | translate }} {{ file.event.number }}@if (file.event && file.event.style) {
              - {{ file.event.relay_distance ? file.event.relay_distance : file.event.distance }}m {{ 'COMMON.STYLE.' + file.event.style.name + '.NAME' | translate }} {{ file.event.name_extension }} {{ 'COMMON.GENDER.' + file.event.gender + '.NAME' | translate }}
          }</span>
        </span>
            </div>
        }
    </div>

    <div class="file-list-buttons">
        <sr-btn [active]="currentFile !== undefined" (btnClick)="setCurrentFileForImport()">
            <mat-icon>arrow_left</mat-icon>
            <span>URL für Import setzen</span></sr-btn>
        <sr-btn [active]="currentFile !== undefined" (btnClick)="openCurrentFile()">
            <mat-icon>link</mat-icon>
            <span>Öffnen</span></sr-btn>
        <sr-btn [active]="currentFile !== undefined" (btnClick)="toggleCurrentFileEventCertification()"
                [loading]="runningCertificationToggle">
            <mat-icon>public</mat-icon>
            <span>Veröffentlichung</span></sr-btn>
    </div>
</sr-group-box>
<!--/sr-panel-->
