<h1>Live Timing</h1>

<div class="live-timing-content">
    <sr-group-box boxTitle="{{'LIVETIMING_CONTROLS.TITLE' | translate}}">
      <div class="form-field">
        <label for="running_event">{{'LIVETIMING_CONTROLS.RUNNING_HEAT' | translate}}:</label>
        <input id="running_event" type="number" [(ngModel)]="currentHeat.heat">
      </div>
      <div class="form-field">
        <label for="running_heat">{{"LIVETIMING_CONTROLS.RUNNING_EVENT" | translate}}:</label>
        <input id="running_heat" type="number" [(ngModel)]="currentHeat.event">
      </div>
      <div class="form-field">
        <label for="running_heat_state">{{"LIVETIMING_CONTROLS.RUNNING_HEAT_STATE" | translate}}:</label>
        <select id="running_heat_state" [(ngModel)]="state">
          <option value="NOT_RUNNING">{{'STATE.NOT_RUNNING' | translate}}</option>
          <option value="READY">{{'STATE.READY' | translate}}</option>
          <option value="RUNNING">{{'STATE.RUNNING' | translate}}</option>
        </select>
      </div>

      <br>

      <div class="live-timing-control">
        <b>Alge:</b>
        <button [disabled]="udpActive" (click)="startUdp()">Start</button>
        <button [disabled]="!udpActive || liveTimingActive" (click)="stopUdp()">Stop</button>
        <span class="status-box {{udpActive ? 'success' : 'error'}}">{{"STATE." + (udpActive ? "RUNNING" : "STOPPED") | translate}}</span>
      </div>

      <br>

      <div class="live-timing-control">
        <b>Live Timing:</b>
        <button [disabled]="!udpActive || liveTimingActive" (click)="startLiveTiming()">Start</button>
        <button [disabled]="!liveTimingActive" (click)="stopLiveTiming()">Stop</button>
        <span class="status-box {{liveTimingActive ? 'success' : 'error'}}">{{"STATE." + (liveTimingActive ? "RUNNING" : "STOPPED") | translate}}</span>
      </div>
    </sr-group-box>

    <sr-group-box boxTitle="{{'SETTINGS.LIVE_TIMING.TITLE' | translate}}">

      <b>UDP</b>

      <div class="form-field">
        <label for="udp_port">{{'SETTINGS.LIVE_TIMING.PORT' | translate}}:</label>
        <input [disabled]="udpActive" id="udp_port" type="number" [(ngModel)]="udpPort">
      </div>

      <div class="form-field">
        <label for="udp_address">{{'SETTINGS.LIVE_TIMING.ADDRESS' | translate}}:</label>
        <input [disabled]="udpActive" id="udp_address" type="text" [(ngModel)]="udpAddress">
      </div>

      <hr>

      <b>SwimResults</b>

      <div class="form-field">
        <label for="sr_server">{{'SETTINGS.LIVE_TIMING.SERVER' | translate}}:</label>
        <input [disabled]="liveTimingActive" id="sr_server" type="text" [(ngModel)]="importConfig.apiUrl">
      </div>

      <div class="form-field">
        <label for="sr_password">{{'SETTINGS.LIVE_TIMING.PASSWORD' | translate}}:</label>
        <input [disabled]="liveTimingActive" id="sr_password" type="password" [(ngModel)]="importConfig.password">
      </div>
      <button [disabled]="liveTimingActive" class="btn-right" (click)="saveConfig()">{{'SETTINGS.LIVE_TIMING.SAVE_BUTTON' | translate}}</button>
    </sr-group-box>

    <sr-group-box boxTitle="Status">
      <div class="connection-status">
        <span>ALGE:</span>
        <span class="status-box {{getClassForConnectionState(algeState)}}">{{"STATE." + algeState | translate}}</span>
      </div>
      <div class="connection-status">
        <span>SwimResults:</span>
        <span class="status-box {{getClassForConnectionState(srState)}}">{{"STATE." + srState | translate}}</span>
      </div>
    </sr-group-box>

    <div>
      <details class="language-settings">
        <summary>{{'SETTINGS.LANGUAGE.TITLE' | translate}}</summary>

        <button (click)="changeLanguage('de')">{{'SETTINGS.LANGUAGE.GERMAN' | translate}}</button>
        <button (click)="changeLanguage('en')">{{'SETTINGS.LANGUAGE.ENGLISH' | translate}}</button>
      </details>
      <details>
        <summary>Log</summary>
        <button (click)="toggleLog()">{{'SETTINGS.LOG.TOGGLE_BUTTON' | translate}}</button>
        <br>
        <div class="status-box">{{"STATE." + (collectLog ? "ACTIVE" : "INACTIVE") | translate}}</div>
        <ul>

          @for (message of messages; track message) {
            <li>{{message}}</li>
          }

        </ul>
      </details>
    </div>
</div>
