.live-timing-content {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: stretch;
  align-items: stretch;

  & > :nth-child(3) {
    grid-column: span 2;
  }
}

.live-timing-control {
  display: grid;
  grid-template-columns: 80px 70px 70px auto;
  grid-gap: 6px;
  align-items: center;

  button {
    height: 30px;
    width: 70px;
  }

  .status-box {
    text-align: right;
  }
}

.form-field {
  label {
    display: inline-block;
    margin: 4px 0;
  }

  input,
  select {
    float: right;
  }
}

.btn-right {
  width: 80px;
  margin-left: calc(100% - 80px);
}

.connection-status {
  display: grid;
  grid-template-columns: 94px auto 1fr;
  &::after {
    content: ''
  }
}

.language-settings {
  button {
    margin-left: 4px;
  }

  button:first-child {
    margin-left: 0;
  }
}
