
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

:root {


  .light-mode {
    // light mode
    --color-bg: #f8f8f8;
    --color-bg-second: #dadada;
    --color-text-main: #000;

    --color-indicator-success: lime;
    --color-indicator-info: cornflowerblue;
    --color-indicator-error: red;
    --color-indicator-warning: #ffd500;
  }

  .dark-mode {
    // dark mode
    --color-bg: #131319;
    --color-bg-second: #1e1e27;
    --color-text-main: #dadada;
    --color-text-prominent: #ffffff;
    --color-btn: var(--color-bg-second);
    --color-border: #2e2e3c;

    --as-gutter-background-color: var(--color-border);
  }
}

body {
  background-color: var(--color-bg);
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: var(--color-text-main);
}

hr {
  border: 0;
  border-top: 1px solid gray;
}

button {
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-text-main);
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
}

input,
select {
  background-color: var(--color-bg);
  color: var(--color-text-main);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 2px 8px;
}

hr {
  border-color: var(--color-border);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
